.ccValidation {
	font-family: Arial, Verdana;
	letter-spacing: 2px;
	font-weight: bold;
	height: 30.5px;
	width:	340px;
	background-image: url(ccSprite.png);
	background-repeat: repeat-y;
	background-position: 295px 100px;
}
.inProgress {
	border-color: #CCA300;
}

.placeholderText {
	font-style:italic;
	color:#CFCFD1;
}

.badCC {
	border-color:red;
}

.goodCC{
	border-color:green;
}