.ccValidation {
	font-family: Arial, Verdana;
	letter-spacing: 2px;
	font-weight: bold;
	height: 27.5px;
	width:	340px;
	background-image: url(ccSprite.png);
	background-repeat: repeat-y;
	background-position: 300px 0px;
}
.inProgress {
	border-color: yellow;
}

.badCC {
	border-color:red;
}

.goodCC{
	border-color:green;
}